/* -----Root Variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Root Variable */
:root {
    --color-background: #fcfcfc;
    --color-lu: #00bf63;
    --color-lu-50: #14ae64;
    --color-text: #3b3b3b;

    --color-admin: #303396;
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --color-lu: #087830;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(233, 233, 233);
    border-radius: var(--border-radius-2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: var(--border-radius-2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.manage-window-card{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    font-family: poppins, sans-serif;
    padding: 2rem;
}


.manage-window-card > div{
    max-height: 36rem;
}

.mw-table{
    border: 0 !important;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);

}

.mw-header{
    padding: 1rem;
    margin: 0;
    /* border: 1px solid black; */
}

.mw-table-body{
    padding: 0;
    overflow-y: auto;
}

.mw-title{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-text);
    font-family: poppins, sans-serif;
}

.mw-btn-add{
    color: white;
    background-color:#1D4ED8;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 10%;
}

.mw-column-name >th {
    background-color: #DBEAFE !important;
    border: none;
    height: 3rem;
    color: var(--color-text);
    padding: 1rem;
}

.mw-column-name >td{
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: var(--color-text);
    font-size: 1rem;
    border-bottom: 2px solid rgba(239, 239, 239, 0.815) ;
}

.mw-column-name td div > button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mw-column-name > th:last-child {
 text-align: center;
}

.mw-btn-edit {
    color: rgb(45, 45, 45) !important;
    font-weight: 400;
}

.mw-btn-edit-text {
    color: rgb(45, 45, 45) !important;
    font-weight: 500 !important;
    font-family: poopins, sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

.mw-edit-modal{
    padding: 2rem;

}



.mw-services-card{
    padding: 2rem;
    overflow-y: auto;
    height: 15rem;
    padding-top: 0;
    width: 100%;
}

.mw-services-card .form-check > label{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.mw-add-window-body{
    padding: 1.5rem;
}

@media (max-width: 480px) {
    .manage-window-card{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        font-family: poppins, sans-serif;
        padding: 2rem;
        margin-bottom: 5rem;
    }

    .modal-content{
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
    }
}
